div {
    margin: 10px;
}

h3 {
  margin: 5px 20px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputItems {
  text-align:center;
  min-width: 200px;
  margin:0px 10px;
  display:inline-block;
}