div {
  margin: 10px;
}

h3 {
  margin: 5px 0px;
}

input[type="number"] {
  width: 100px;
  font-size: large;
}

.inputItems {
  text-align: center;
  min-width: 155px;
  margin: 0px 10px;
  display: inline-block;
}
